<nav class="unslate_co--site-mobile-menu">
  <div class="close-wrap d-flex">
    <a href="#" class="d-flex ml-auto js-menu-toggle">
      <span class="close-label">Close</span>
      <div class="close-times">
        <span class="bar1"></span>
        <span class="bar2"></span>
      </div>
    </a>
  </div>
  <div class="site-mobile-inner"></div>
</nav>

<div class="unslate_co--site-wrap">
  <div class="unslate_co--site-inner">
    <app-top-bar></app-top-bar>
    <router-outlet></router-outlet>
  </div>

  <footer class="unslate_co--footer unslate_co--section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          
          <div class="footer-site-logo"><a href="#">Untreefolio<span>.</span></a></div>

          <ul class="list-unstyled social-icons light">
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-linkedin"></span></a></li>
            <li><a href="#"><span class="icon-google"></span></a></li>
            <li><a href="#"><span class="icon-play"></span></a></li>
          </ul>

          <p class="site-copyright"><small>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co" target="_blank" rel="nofollow noopener">Untree.co</a> &bullet; <a href="https://untree.co/license" target="_blank" rel="nofollow noopener">License</a> </small></p>

        </div>
      </div>
    </div>
  </footer>
</div>

<div id="unslate_co--overlayer"></div>
<div class="site-loader-wrap">
  <div class="site-loader"></div>
</div>