<nav class="unslate_co--site-nav site-nav-target">
  <div class="container">
    <div class="row align-items-center justify-content-between text-center">
      <div class="col-md-12 text-center">
        <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
          <li>
            <a routerLink="/home" fragment="home-section" class="nav-link">Home</a>
          </li>
          <li><a routerLink="/home" fragment="about-section" class="nav-link">About</a></li>
          <li><a routerLink="/portfolio/1" class="nav-link">Portfolio</a></li>
          <li><a routerLink="/home" fragment="contact-section" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>